<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stock Search</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css')}}"
		/>

		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</head>
	<body>
		<h1>Stock Search</h1>
		<form>
			<label for="ticker">Enter Stock Ticker Symbol:</label>
			<input type="text" id="ticker" name="ticker" required />
			<button type="button" id="search-btn" onclick="submitForm()">
				Search
			</button>
			<!-- <input type="submit" value="Search" onclick="submitForm()"> -->
			<button type="button" id="clear-btn" onclick="clearTable()">
				Clear
			</button>
		</form>
		<br />
		<div class="navbar">
			<a
				href="#"
				class="tab"
				id="company-outlook"
				onclick="displayCompanyOutlook()"
				>Company Outlook</a
			>
			<a
				href="#"
				class="tab"
				id="stock-summary"
				onclick="displayStockSummary()"
				>Stock Summary</a
			>
			<!-- <a href="#" class="tab" id="charts">Charts</a>
			<a href="#" class="tab" id="latest-news">Latest News</a> -->
		</div>

		<div class="tab-content">
			<!-- Content for each tab will appear here -->
			<table id="stock-table">
				<!-- Table to display stock data -->
			</table>
		</div>
	</body>
</html>
